</section>
<section>

    <div class="container">
        <div class="row signup-and-login">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 flex direction-column-flex justify-center-flex align-items-center-flex">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7613.919848289108!2d78.36778500000003!3d17.413710800000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3b137ccb801c726!2sPremier+Developers+and+contractors!5e0!3m2!1sen!2sin!4v1556280480776!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:1px solid #ccc;" allowfullscreen></iframe>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="images/investor-testimonials.svg" alt="login">
                <form action="/contact" class="form-style flex flex-no-wrap justify-center-flex direction-column-flex"
                    method="post">
                    <input type="text" name="name" class="text-input-theme" placeholder="Name" />
                    <input type="email" name="email" class="text-input-theme" placeholder="Email address" />
                    <input type="tel" name="tel" class="text-select-theme" placeholder="Phone">

                    {{!-- <input type="number" name="investment" class="text-input-theme" placeholder="Investment upto"> --}}

                    <textarea name="message" id="message" class="text-select-theme" cols="30" rows="10" placeholder="Message"></textarea>

                    <button type="submit" class="theme-btn">Contactus</button></form>

            </div>
        </div>
    </div>
    <script>
            // Get the modal
var modal = document.getElementById('error');

// Get the button that opens the modal
// var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>