</section>
<section>
    <div class="container">
        <div class="row height-100-percent">
            <div
                class="how-it-works-container col-sm-12 col-md-4 col-lg-4 col-xl-4 flex direction-column-flex justify-center-flex text-align-justify">
                <h2>How it works ?</h2>
                <h4>From Just an Idea to a Business</h4>
                <p class="text-align-justify">
                    Started with a team of 10 passionate young minds, It is now a family
                    of 200 developers and designers. All these years, we have followed the
                    vision to deliver amazing user experiences through technology to our clients
                    worldwide.
                </p>
                <img src="images/howitworks.svg" alt="simple working">
            </div>
            <div
                class="working-illustrator col-sm-12 col-md-8 col-lg-8 col-xl-8 flex direction-column-flex justify-space-between-flex">
                <div class="padding-horizontal">

                    <img src="images/sv2_how_it_works.svg" alt="How it works">

                </div>
                <div class="flex justify-align-content-item-end-flex">
                    <div
                        class="to-the-faq flex flex-no-wrap align-items-center-flex justify-center-flex align-content-center-flex">
                        <p>Still got Question. We’ve probably covered them<br>
                            all in the Help Center .</p>
                        <a href="#"
                            class="circle-faq-btn flex align-content-center-flex justify-center-flex align-items-center-flex">></a>
                    </div>
                </div>
            </div>
        </div>
    </div>