</section>
{{!-- <link rel="stylesheet" href="stylesheets/onepage-scroll.css" type="text/css"> --}}
<style>
    /**  .wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
} */

    /* The Modal (background) */
    .modal {
        display: {{visible}};
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .section {
        min-height: 80vh;
    }

    .section.large-section {
        min-height: 105vh;
        margin-top: 5vh;
    }
</style>
<!-- The Modal -->
<div id="thanksModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Thanks for applying</p>
    </div>

</div>

<section class="section container-fluid">

    <div class="row height-100-percent  right-sm-margin-fix">
        <div class="col-lg-4 landing-img">
            <img src="images/index-top.svg" alt="your wealth is safe with us" />
        </div>
        <div class="col-sm-12 col-lg-8 flex direction-column-flex justify-space-evenly-flex">
            <div class="flex direction-column-flex align-items-center-flex justify-center-flex">
                <h2 class="landing-page-heading">Invest and get <span class="theme-color-text">15-25%</span> guaranteed
                    return <br>
                    in <span class="theme-color-text">6-8 Months</span> in Real Estate.
                </h2>

                <div class="stats-container flex">
                    <img src="images/equitylogo.png" alt="more than">
                    <span>30+<br>Investor</span>&nbsp;&nbsp;&nbsp;
                    <img src="images/tradelogo.png" alt="more than">
                    <span><i class="fa fa-rupee"></i> 60+ M<br>Funds Raised</span>
                </div>

            </div>

            <div class="subscribe flex justify-space-between-flex align-items-center-flex subscription-panel">
                <form action="/subscribe" class="flex" method="post">
                    <input type="tel" name="contact" id="contact-input" class="text-input-theme"
                        style="border-bottom: 1px solid {{subscription}}" placeholder="Phone Number">
                    <button type="submit">Get Started</button></form>
                <img style="height: 140px; margin-right: 20px;" class="hide-sm" src="images/bot.png" alt="">
            </div>
        </div>
    </div>
</section>

<hr>

<section class="section large-section">
    <div class="container height-100-percent width-sm-90-percent flex direction-column-flex justify-space-between-flex">
        <div class="row why-us-trading-container">
            <div
                class="col-sm-12 col-md-4 col-lg-4 col-xl-4 why-prop-trading flex direction-column-flex justify-space-between-flex">
                <div class="why-prop-trading-content text-align-justify">
                    <h2>How it works ?</h2>
                    <h4>How ideas are turn into Reality !</h4>
                    <p class="text-align-justify">Started with a team of 10 passionate young minds, It is now a family CodeLabs is
                        now a family
                        of 200 developers and designers. All these years, we have followed the
                        vision to deliver amazing user experiences through technology to our clients
                        worldwide.</p>
                </div>

            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="row">
                    <div
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 flex justify-center-flex align-content-center-flex align-items-center-flex why-us-02-container">

                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 padding-top-why-us">
                        <div class="row">


                        </div>
                        <div class="row flex justify-align-content-item-end-flex justify-end-flex why-us-04-container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex justify-align-content-item-end-flex">
            <div
                class="to-the-faq flex flex-no-wrap align-items-center-flex justify-center-flex align-content-center-flex">
                <p>Still got Question. We’ve probably covered them<br>
                    all in the Help Center .</p>
                <a href="#"
                    class="circle-faq-btn flex align-content-center-flex justify-center-flex align-items-center-flex"><span
                        class="fa fa-caret-right"></span></a>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="section large-section">
    <div class="container width-sm-90-percent">
        <div class="row exit-strategy">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 why-prop-trading">
                <div class="why-prop-trading-content text-align-justify">
                    <h2> Exit Strategy !</h2>
                    <h4> From Just an Idea to a Buisness!</h4>
                    <p class="text-align-justify">
                        Started with a team of 10 passionate young minds, It is now a family CodeLabs is now a family
                        of 200 developers and designers. All these years, we have followed the
                        vision to deliver amazing user experiences through technology to our clients
                        worldwide.
                    </p>
                </div>
            </div>
        </div>
        <div class="row flex height100vh">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 flex justify-space-evenly-flex exit-img-height">
                <div class="col-md-4 first-exit flex justify-align-content-item-end-flex">


                </div>
                <div class="col-md-4 second-exit">


                </div>
                <div class="col-md-4 third-exit flex justify-align-content-item-end-flex">

                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="section">
	<div class="container-fluid height-100-percent width-sm-90-percent testimonials">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4 col-xl-4 width-sm-90-percent">
				<h2>
					Investor Testimonials
				</h2>
				<p class="text-align-justify">
					Started with a team of 10 passionate young minds, It is now a family CodeLabs is now a family
					of 200 developers and designers. All these years, we have followed the
					vision to deliver amazing user experiences through technology to our clients
					worldwide.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="testimonial-container col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<div class="flex">
					<img src="images/investor-testimonials.svg" style="height: 250px" alt="investor testimonials">
				</div>
			</div>
			<div class="testimonial-images col-sm-6 col-md-6 col-lg-6 col-xl-6 flex">
				<div class="carousel flex direction-column-flex">
					<!-- Swiper -->
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<iframe style="height: 100%; width: 100%;"
									src="https://www.youtube.com/embed/N20XICM5pIM" frameborder="0"
									allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
							<div class="swiper-slide">
								<iframe style="height: 100%; width: 100%;"
									src="https://www.youtube.com/embed/N20XICM5pIM" frameborder="0"
									allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="flex justify-center-flex align-items-center-flex" style="font-size: 8px; margin-top: 18px">
					<p>
						Investment in real estate involves a degree of risk and investors should not invest any
						funds unless
						they
						can afford to take the risk of losing their investment. <br class="hide-sm">
						For taking an investment decision, investors must rely on their own examination of the
						property
						including
						the risks involved.
					</p>
				</div>
			</div>
		</div>
	</div>
        </section>
        {{!-- <script type="text/javascript" src="javascripts/jquery.onepage-scroll.min.js"></script> --}}
        <script>
            /** $(document).ready(function () {
        
                $(".main").onepage_scroll({
                    sectionContainer: "section",
                    responsiveFallback: 600,
                    loop: true
                });
            }); */

            // Get the modal
            var modal = document.getElementById('thanksModal');

            // Get the button that opens the modal
            // var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            console.log("{{visible}}")

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>